# main
PROJECT_NAME=
PROJECT_VERSION=

# api
CONTAINER_PORT=

# postgres
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=

# ozon
OZON_API_BASE_URL=
OZON_COOKIE=
OZON_SEARCH_URL=
OZON_SEARCH_QUERY=
OZON_SINGLE_ITEM_URL=

# Dadata
DADATA_API_TOKEN=
DADATA_API_URL=
